@import url("./main.css");
@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f4f4f4;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.profile {
    padding: 10px 10px 10px 80px;
    margin: 5px  5px 40px 5px;
}

.profile .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile .myname {
    position: absolute;
    left: 60px;
    text-align: left;
    color: #ffffff;
    margin-top: 5px;
}

.navbar {
    background: #47A99C;
    overflow: hidden;
    height: 63px;
    width: 100%;
    position: sticky;
    top: 0;
    transition: 0.5s ease-out;
    z-index: 1;
}

.navbar a {
    display: block;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul {
    margin: 8px 0 0 0 ;
    list-style: none;
}

.navbar a:hover {
    background: #dddddd;
    color: #47A99C;
}

.side-nav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0;
    background: #47A99C;
    /* opacity: 0.9; */
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease-out;
}

/* .side-nav .task {
    border: 1px solid rgb(35, 97, 89);
    border-radius: 3px;
} */

.side-nav a {
    padding: 10px 10px 10px 30px;
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #47A99C;
    background: #cccccc;
}

.side-nav .btn-close a:hover {
    background: #47A99C;
    color: #ffffff;
    font-size: 30px;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    color: #ffffff;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

#main h1 {
    text-align: center;
}

#main .car-ad-list{
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
}

#main .car-ad-list tr:first-child {
    border-top: none;
    background: #008081;
    color: #ffffff;
}

#main .car-ad-list tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
  }

#main .car-ad-list tr:nth-child(odd):not(:first-child) {
    background-color: #ebf3f9;
}

#main .car-ad-list th {
    display: none;
}

#main .car-ad-list td {
    display: block;
}

#main .car-ad-list td:first-child {
    margin-top: .5em;
}

#main .car-ad-list td:last-child {
    margin-bottom: .5em;
}

#main .car-ad-list td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}

#main .car-ad-list th,
#main .car-ad-list td {
  text-align: left;
  padding: .5em 1em;
}

#main .car-ad-list {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

#main .car-ad-list tr {
    border-color: #bfbfbf;
}

#main .car-ad-list tr td a {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 2px 8px;
    border: 1px solid #494949 !important;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
}

#main .car-ad-list tr td a:hover {
    color: #ffffff !important;
    background: #008081;
    cursor: pointer;
    border-color: #008081 !important;
    transition: all 0.4s ease 0s;
}

#post-ad {
    display: none;
}

#purchase-order-list {
    display: none;
}
#my-purchase-list {
    display: none;
}
.header-purchase-order {
    display: none;
}
.modal-footer {
    display: flex;
    flex-direction: column;
}

.modal-footer .btn {
    margin-bottom: 5px;
    background: #47A99C;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color 0.1s ease;
}
.modal-footer .btn:hover {
    background: rgb(42, 117, 107);
    cursor: pointer;
}

.modal-footer #delete-ad {
    background: orangered;
}
.modal-footer #delete-ad:hover {
    background: red;
}

.modal-header .btn-close {
    color: #aaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal-header .btn-close:hover {
color: #919191;
}

.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal:target:before {
    display: block;
}
.modal:target .modal-dialog {
-webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
transform: translate(0, 0);
top: 20%;
}
.modal-dialog {
background: #fefefe;
border: #333 solid 1px;
border-radius: 5px;
margin-left: -200px;
position: fixed;
left: 50%;
top: -100%;
z-index: 11;
width: 360px;
-webkit-transform: translate(0, -500%);
-ms-transform: translate(0, -500%);
transform: translate(0, -500%);
-webkit-transition: -webkit-transform 1s ease-out;
-moz-transition: -moz-transform 1s ease-out;
-o-transition: -o-transform 1s ease-out;
transition: transform 1s ease-out;
}
.modal-body {
padding: 20px;
}
.modal-header,
.modal-footer {
padding: 10px 20px;
}
.modal-header {
border-bottom: #eee solid 1px;
}
.modal-header h2 {
font-size: 20px;
color: #008081;
}
.modal-footer {
border-top: #eee solid 1px;
text-align: right;
}

#main .search {
    display: flex;
    width: 52%;
    position: relative;
    left: 360px;
    margin-bottom: 20px;
    border: 1px solid #008081;
}

.search input {
    flex-direction: column;
}

.search input[type=text] {
    flex-basis: 50%
}

.search input[type=number] {
    flex-basis: 20%
}

.search input[type=submit] {
    flex-basis: 10%;
    color: #ffffff;
    background: #47A99C;
}
  
@media screen and (max-width: 601px) {
    #main .car-ad-list tr:nth-child(2) {
      border-top: none;
    }
}

@media screen and (min-width: 600px) {
     #main .car-ad-list tr:hover:not(:first-child) {
      background-color: #d8e7f3;
    }
     #main .car-ad-list td:before {
      display: none;
    }
     #main .car-ad-list th,
     #main .car-ad-list td {
      display: table-cell;
      padding: .25em .5em;
    }
     #main .car-ad-list th:first-child,
     #main .car-ad-list td:first-child {
      padding-left: 0;
    }
     #main .car-ad-list th:last-child,
     #main .car-ad-list td:last-child {
      padding-right: 0;
    }
     #main .car-ad-list th,
     #main .car-ad-list td {
      padding: 1em !important;
    }
  }

@media(max-width: 568px) {
    .navbar ul {
        display: none;
    }
    .navbar {
        width: 100%;
    }
}