body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
.profile {
    padding: 10px 10px 10px 80px;
    margin: 5px  5px 40px 5px;
}

.profile .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile .myname {
    position: absolute;
    left: 60px;
    text-align: left;
    color: #ffffff;
    margin-top: 5px;
}

.navbar {
    background: #47A99C;
    overflow: hidden;
    height: 63px;
    width: 100%;
    transition: 0.5s ease-out;
}

.navbar a {
    display: block;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul {
    margin: 8px 0 0 0 ;
    list-style: none;
}

.navbar a:hover {
    background: #dddddd;
    color: #47A99C;
}

.side-nav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background: #47A99C;
    /* opacity: 0.9; */
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease-out;
}

/* .side-nav .task {
    border: 1px solid rgb(35, 97, 89);
    border-radius: 3px;
} */

.side-nav a {
    padding: 10px 10px 10px 30px;
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #47A99C;
    background: #cccccc;
}

.side-nav .btn-close a:hover {
    background: #47A99C;
    color: #ffffff;
    font-size: 30px;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    color: #ffffff;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

@media(max-width: 568px) {
    .navbar ul {
        display: none;
    }
    .navbar {
        width: 100%;
    }
}