html body {
    background: rgb(224, 229, 233);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 5px;
    padding: 5px;
}

.headings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headings h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 60px;
    margin: 0 0 30px;
    cursor: pointer;
    color: #47A99C;
}

.headings h1:hover {
    color: rgb(52, 146, 134);
    font-size: 18px;
}

.headings .signup {
    margin-right: 20px;
}

.headings .login {
    margin-left: 20px;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    border-radius: 5px;
    margin-top: 0rem;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.form-box h3 {
    display: block;
    text-align: center;
    padding: 13px 20px 12px;
    // background: #47A99C;
    width: 280px;
    height: 55px;
    border-radius: 3px;
    color: #47A99C;
    font-size: 1.5rem;
}

#login {
    display: none;
}

.form-group {
    margin: 20px 0 5px 0;
}

input, select {
    width: 100%;
    padding: 10px 15px;
    font-size: 13px;
    height: auto;
    border: 1px solid #e8e7e7;
    outline: none;
    color: #717171;
    border-radius: 3px;
}

select option {
    background: #47A99C;
    font-size: 20px;
}


.signup-login {
    background: #47A99C;
    padding: 13px 20px 12px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    transition: .5s;
    border-radius: 2px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    user-select: none;
    font-family: inherit;
}

.signup-login:focus {
    background: rgb(42, 117, 107);
}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .form-box {
        width: 100%
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .form-box {
        width: 100%
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .form-box {
        width: 100%
    }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .form-box {
        width: 100%
    }
}
  